@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
$color-back: #608094;
$color-font: #d5dbdf;
$shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

.hidde{
    visibility: hidden;
}



.search-container{
    padding: .8rem;
    &__input{
        padding: 8px;
    }
    &__button{
        padding: 8px;
    }
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.data-container{
    display: flex;
    flex-direction: column;
    background-color: $color-back;
    color: $color-font;
    border-radius: 8px;
    padding: 2rem;
    display: block;
    width: 40rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
    &__header{
        text-align: center;
    }

    &__city{
        text-transform:capitalize;
        text-shadow: $shadow;
        font-size: 2.2rem;
        padding-bottom: 1rem;
    }

    &__date{
        font-size: 1.5rem;
        padding-bottom: 1.4rem;
        text-shadow: $shadow;
    }

}

.data-body{
    display: flex;
    text-align: center;
    justify-content: space-between;

    &__colum1{ 
        align-items: center;
    }

    &__icon{
        width: 64px;
        display: block;
        border-radius: 6px;
        margin-top: 1.2rem;
       }

    &__descriptions{
        display: block;
        color: color-font;
        text-transform:capitalize;
        padding: .8rem;
        text-shadow: $shadow;
    }

    &__temp{
        font-size: 2.8rem;
        text-shadow: $shadow;
    }

    &__feelslike{
        font-size: 2rem;
        text-shadow: $shadow;
    }

    &__colum1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    &__colum3{
        text-align: left;
        width:11rem;
        & label{
            text-transform:capitalize;
            font-weight: 300;
            padding: .2rem;
            text-shadow: $shadow;
        }
        & div{
            padding: .2rem;
            display: inline;
            text-transform:capitalize;
            font-weight: 300;
            color: $color-font;
            text-shadow: $shadow;
        }
    }
}
